div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Datos Filiatorios
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="mhnum") Historia Clinica Nº
				input(type="number", id="mhnum", name="personalDataMHNum", value="#{typeof(patient) == 'undefined'?'':patient.personalDataMHNum}", required)
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="fname") Nombres
				input(type="text", id="fname", name="personalDataFname", value="#{typeof(patient) == 'undefined'?'':patient.personalDataFname}", required)
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="lname") Apellido
				input(type="text", id="lname", name="personalDataLname", value="#{typeof(patient) == 'undefined'?'':patient.personalDataLname}", required)
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="ssn") DNI
				input(type="text", id="ssn", name="personalDataSSN", value="#{typeof(patient) == 'undefined'?'':patient.personalDataSSN}", required)
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="bday") Fecha de Nacimiento
				input(type="date", id="bday", name="personalDataBday", onchange="javascript:getAge(this)", value="#{typeof(patient) == 'undefined'?'':patient.personalDataBday}", required)
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="age") Edad
				input(type="number", id="age", name="personalDataAge", readonly="readonly", value="#{typeof(patient) == 'undefined'?'':patient.personalDataAge}", min="0")
		div(data-role="fieldcontain")
			label(for="gender", class="select") Sexo
			select(id="gender", name="personalDataGender", value="#{typeof(patient) == 'undefined'?'':patient.personalDataGender}")
				option(value="M") M
				option(value="F") F
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="address") Domicilio
				input(type="text", id="address", name="personalDataAddress", value="#{typeof(patient) == 'undefined'?'':patient.personalDataAddress}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="city") Localidad
				input(type="text", id="city", name="personalDataCity", value="#{typeof(patient) == 'undefined'?'':patient.personalDataCity}")
