div(data-role="collapsible-set", data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d", data-content-theme="b")
	div(data-role="collapsible" ,data-collapsed="true")
		h3 Examen Físico
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="inspection") Inspección
				input(type="text", id="inspection", name="physicalExamInspection", value="#{typeof(patient) == 'undefined'?'':patient.physicalExamInspection}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				label(for="heartAuscultation") Auscultación Cardíaca
				input(type="text", id="heartAuscultation", name="physicalExamHeartAuscultation", value="#{typeof(patient) == 'undefined'?'':patient.physicalExamHeartAuscultation}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				div(class="ui-grid-a")
					div(class="ui-block-a")
						label(for="murmurs") Soplos
					div(class="ui-block-b")
						select(name="physicalExamMurmurs", id="murmurs", data-theme='a', data-role='slider', onchange="javascript:toggleActivity(this,'murmurs');", value="#{typeof(patient) == 'undefined'?'':patient.physicalExamMurmurs}")
							option(value='off', selected=(typeof(patient) == 'undefined'?false:patient.physicalExamMurmurs=='off')) No
							option(value='on', selected=(typeof(patient) == 'undefined'?false:patient.physicalExamMurmurs=='on')) Si
			fieldset(data-role="controlgroup", id="div-murmurs-desc")
				div(data-role="fieldcontain")
					label(for="murmursDesc") Descripción
					input(type="text", id="murmursDesc", name="physicalExamMurmursDesc",  placeholder="Describa el Soplo", value="#{typeof(patient) == 'undefined'?'':patient.physicalExamMurmursDesc}")
		div(data-role="fieldcontain")
			fieldset(data-role="controlgroup")
				div(class="ui-grid-a")
					div(class="ui-block-a")
						label(for="pulmonarAuscultation") Auscultación Pulmonar
					div(class="ui-block-b")
						select(name="physicalExamPulmonarAuscultation", id="pulmonarAuscultation", data-theme='a', data-role='slider', onchange="javascript:toggleActivity(this,'pulmonarAuscultation');",, value="#{typeof(patient) == 'undefined'?'':patient.physicalExamPulmonarAuscultation}")
							option(value='off', selected=(typeof(patient) == 'undefined'?false:patient.physicalExamPulmonarAuscultation=='off')) Normal
							option(value='on', selected=(typeof(patient) == 'undefined'?false:patient.physicalExamPulmonarAuscultation=='on')) Hallazgo
			fieldset(data-role="controlgroup", id="div-pulmonarAuscultation-desc")
				div(data-role="fieldcontain")
					label(for="pulmonarAuscultationDesc") Descripción
					input(type="text", id="pulmonarAuscultationDesc", name="physicalExamPulmonarAuscultationDesc",  placeholder="Describa el Hallazgo", value="#{typeof(patient) == 'undefined'?'':patient.physicalExamPulmonarAuscultationDesc}")
					